# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class
.Python

# Packaging / PyPI
build/
dist/
*.egg-info/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store
